.post_container {
  display: flex;
  justify-content: flex-start;
}

.post {
  margin-left: 20px;
  padding-left: 20px;
}
.scope_line {
  border-left: 2px solid #ddd;
  cursor: pointer;
}

.scope_line:hover {
  border-left: 2px solid blue;
}
